<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/Logo1.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bruno+Ace&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Pacifico&family=Poppins:ital,wght@0,100;1,200;1,700&display=swap"
        rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <%- include('./components/Nav')%>
        <h1>This is Home Page</h1>
        <%- include('./components/Footer') %>
</body>

</html>